ETHERSCAN_API_KEY=

# the deployer address, when using a ledger or a seed phrase
SENDER_ETHEREUM_MAINNET=
SENDER_ETHEREUM_GOERLI=

# public rpc:
RPC_ETHEREUM_MAINNET="https://rpc.ankr.com/eth"
RPC_ETHEREUM_GOERLI="https://rpc.ankr.com/eth_goerli"

# tenderly mainnet fork:
RENE_ADDRESS="0xfe5E90ba7cDAaDba443C0C27010eB1D51327EaFb"
RPC_TENDERLY_MAINNET_FORK=""